@using System.Text;
@{
    var pName = Context.GetRouteValue("PageName");
    var message = string.Empty;
    dynamic data;
    using (var db = Database.Open(Functions.GetDbName()))
    {
        const string sqlSelect = "Select * From Gallery Where pName=@0";
        data = db.QuerySingle(sqlSelect, pName);
    }
    var gId = data.gId;
    var gName = data.gName;
    StringBuilder sb = new StringBuilder();
    if (gId > 0)
    {
        System.IO.DirectoryInfo di = new System.IO.DirectoryInfo(Server.MapPath("~/Uploads/Gallery/" + gId + "/"));
        foreach (System.IO.FileInfo fi in di.GetFiles().Where(f => (!f.Name.Contains("thumb_"))))
        {
            sb.AppendFormat("<a data-fancybox=\"gallery\" alt=\"{0}\" href=\"Uploads/Gallery/{1}/{0}\" ><img style=\"margin:10px 0px;\" src=\"Uploads/Gallery/{1}/Thumb_{0}\" class=\"img-responsive col-lg-3 col-md-6 col-sm-12\"></a>\n", fi.Name, gId);
        }
    }
    else
    {
        sb.Append("<p>There are currently no images loaded in the gallery.</p>");
    }
}
<!--Fancybox Scripts/CSS-->
<link href="@StaticFile.Version("~/Addons/Gallery/Content/jquery.fancybox.min.css")" rel="stylesheet" />
<script src="@StaticFile.Version("~/Addons/Gallery/Content/jquery.fancybox.min.js")" type="text/javascript"></script>
<!--Fancybox Gallery-->
<h2>@Html.Raw(gName)</h2>
<div id="gallery">
    @Html.Raw(sb.ToString())
</div>
