@{
    var message = string.Empty;

    IEnumerable<dynamic> data;
    using (var db = Database.Open(Functions.GetDbName()))
    {
        const string sqlSelect = "Select * From Widgets Where wName = 'contact-form'";
        data = db.Query(sqlSelect);
    }
    if (!data.Any())
    {
        Response.Redirect("~/Addon/ContactForm/Install");
    }
    var messageId = Request["messageId"];
    if (!messageId.IsEmpty())
    {
        switch (messageId)
        {
            case "1":
                message = Helpers.alertSuccess("Contact form successfully installed!");
                break;
            default:
                message = Helpers.alertWarning("Unknown messageId");
                break;
        }
    }
}
@Html.Raw(message)
<form method="post" action="">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact Form Settings</h2>
            <p>The contact form addon has no customizable options.</p>
            <p>To use, simply go to <a href="@Href("~/Admin/AllPages")">pages</a> and add to the page you require.</p>
            <p>The form will use the <a href="@Href("~/Admin/SiteSettings")">email settings</a> built into the website.</p>
        </div>
    </div>
</form>